@import '../../App.scss';

.Header {
    z-index: 1000;
    background-color: $First-Color;


    ul {
        text-decoration: none;
        padding: 0;
    }

    .no-arrow::after {
        display: none !important;
    }

    .fa-bell {
        cursor: pointer;
        margin: 0px 35px;
        color: #626262;
        font-size: 1.3rem;
    }

    .notificationMarks {
        position: absolute;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        background-color: $alert-color;
        margin: 0px 30px;
    }

    .profileImg {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
    }

    .dropdown-menu .dropdown-item:focus,
    .dropdown-menu .dropdown-item:active,
    .dropdown-menu .dropdown-item.active {
        background-color: transparent !important;
        color: inherit !important;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: $btn-hover-bg !important;
        color: $First-Color !important;
    }

    img {
        height: 70px;

    }
}