@import '../../App.scss';

.login-page {
    margin-top: $top - 1rem;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(139, 139, 139, 0.7), rgba(110, 110, 110, 0.7)),
        url('../../images/img.jpg') no-repeat center center;
    background-size: contain;

    .error {
        color: rgb(206, 39, 39);
    }

    .img {
        width: 100px;
        height: 5%;
        padding: 5px;
    }

    .text-center {
        color: $Font-Color;
    }

    .login-card {
        background: rgba(white, 0.7);
        padding: 1.5rem 3rem;
        border-radius: 12px;
        box-shadow: 0 8px 20px $First-Color;
        width: 350px;
        height: fit-content;
        text-align: center;
        margin-top: 5%;



        h2 {
            margin-bottom: 2rem;
            color: $Font-Color;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-bottom: 1.5rem;

            label {
                margin: 0.9rem 0;
                font-weight: 500;
                color: $First-Color;
            }

            input {
                padding: 0.75rem 1rem;
                border: 1px solid #ccc;
                border-radius: 8px;
                font-size: 1rem;
                transition: 0.3s;
                height: 45px;
                background-color: rgba(#fff, 0.8);

                &:focus {
                    border-color: $Second-Color;
                    outline: none;
                    box-shadow: 0 0 5px $First-Color;
                }
            }
        }

        .login-btn {

            width: 100%;
            padding: 0.75rem 1rem;
            border: none;
            border-radius: 8px;
            background-color: $First-Color;
            color: #fff;
            font-size: 1.1rem;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                box-shadow: 2px 2px 2px 2px $Font-Color;
            }
        }
    }

}

.login-page .description {
    font-size: 15px;

    font-style: italic;
}

.login-page .required {
    color: red;
}

.password-field {
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 100%;
        padding-right: 40px; 
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        height: 50px;

    }

}

@media (max-width: 768px) {}